<app-customer-header></app-customer-header>
<button class="btn btn-danger my-2 md-2" (click)="regresar()">Cerrar</button>
<div class="card text-center">

    <div class="card-body">
        <img src="{{products['imagen']}}" alt="" width="30%"/>
    </div>

    <div class="card-body">
        <h5 class="card-title">Descripción</h5>
        <span>Nombre: {{products['nombre']}}</span><br>
        <span>Precio: {{products['precio']}}</span><br>
        <span>Cantidad: {{products['cantidad']}}</span>
    </div>

</div>



  