



<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a [routerLink]="['/customer/products']" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">!Cotizar y Comprar es facil!</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a   [routerLink]="['/customer/datos']" class="nav-link align-middle px-0">
                        <!-- <i class="fs-4 bi-house"></i>  -->
                        <i class="fs-4 bi-people"></i>  <span class="ms-1 d-none d-sm-inline">Mis Datos</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a    [routerLink]="['/customer/carrito']"   class="nav-link align-middle px-0">
                      <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Mis Cotizaciones</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a   [routerLink]="['/customer/historial']"  class="nav-link align-middle px-0">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Mis Pedidos</span>
                  </a>
              </li>
              
                
              </ul>
              <!-- <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">loser</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div> -->
          </div>
      </div>
      <div class="col py-3">

        
 <!-- <app-customer-header></app-customer-header>  -->

 <section class="container-fluid section-default">
  <nav class="navbar navbar-light navbar-top"  style="padding-right: 0">
    <div class="">
      <a  [routerLink]="['/customer/products']" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 50px;">
       
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16" style="color: black;">
          <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
      </a>
<!-- 
    
      <button  type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="bi bi-filter-right"> </i></button> -->

     
    </div>
    <form >
<!--      
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping-span" (click)="clickBuscarProducto(nombrebuscar.value)" ><i class="bi bi-search"></i> </span>
        <input type="text" #nombrebuscar class="form-control input-search" placeholder="Buscar producto" aria-label="Username" aria-describedby="addon-wrapping">
      </div> -->

    </form>

    <div style="display: flex;">

      <p style="margin-top: 10px;margin-right: 10px;">Bienvenid@ {{usuarioSesion.name}} </p> 

<!-- 
      <div class="dropdown">

       
        <a  type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fs-4 bi-table"></i> 
      </a>
          
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#"><i class="fab fa-apple-pay"></i>&nbsp;&nbsp;Pay</a>
          <a class="dropdown-item" href="#"><i class="fas fa-bell-slash"></i>&nbsp;&nbsp;Disable alertss</a>
          <a class="dropdown-item" href="#"><i class="far fa-envelope"></i>&nbsp;&nbsp;Check mail</a>
        </div>
      </div> -->
      


      <div class="dropdown pb-4">
        
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 50px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" style="color: black;">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
          </svg>
        </a> 
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" [routerLink]="['/customer/datos']">Mis Datos</a></li>
            <li><a class="dropdown-item"  [routerLink]="['/customer/carrito']">Mis Cotizaciones</a></li>
            <li><a class="dropdown-item"  [routerLink]="['/customer/historial']">Mis Pedidos</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item" (click)="cerrarSesion()" >Sign out</button></li>
        </ul>
    </div> 
          
        
        <a class="navbar-brand"  [routerLink]="['/customer/carrito']" style="margin-left: 30px;">
          <svg xmlns="http://www.w3.org/2000/svg"  width="36" height="36"  fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger" style="margin-left: -15px;" >
            {{conteo}}
            <span class="visually-hidden">unread messages</span>
          </span>
                
        </a>
    </div>
  </nav>

</section>


    <section class="container-fluid section-default">
        
 
 
 <div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content">
         
<a class="btn btn-outline-primary"  [routerLink]="['/customer/carrito']">Por cotizar</a> <span> </span>
<a class="btn btn-primary" [routerLink]="['/customer/historial']" style="margin-left: 10px;">Historial de cotizaciones</a>

        </div>

        <div class="table-responsive">
 
          
    <div class="container">
      <br>
      <br>
<!--

      <h1>Angular 11 Datatables Example - Tutsmake.com</h1>
-->
      <table id="datatableID" datatable="datatable" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="dataTable cell-border order-column" style="width:100%">
    <!-- 
      <table id="datatableID" datatable="datatable"  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="stripe row-border order-column" style="width:100%" > -->
        <thead>
          <tr>
            <th>Estado</th>
            <th>N° Cotizacion</th>
            <th>Fecha</th>
            <th>Cantidad Productos</th>
            <th>Monto S/.</th>
            <th>Ver Documento</th>
            <!-- <th>Foto</th> -->
            <th>Realizar Pedido</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cotizacion of cotizaciones">
            <td> 
              <div *ngIf="( cotizacion.estado=='ACTIVO')">  <span >Activo</span> </div> 
              <div *ngIf="( cotizacion.estado=='Pedido')"> <span>Pedido</span></div> 
              <div *ngIf="( cotizacion.estado=='Vencido')"> <span >Vencido</span></div> 
             
            </td>
            <td>{{ cotizacion.id }}</td>
            <td>{{ cotizacion.fechaRegistro }}</td>
            <td>{{ cotizacion.detalleConsulta.length }}</td>
            <td>{{ formateaValor( cotizacion.totalBrutoCotizacion) }}</td>
            <td> 
              <div class="btn-group"><!-- mb-3-->
                <button class="btn ver d-inline" href="#"  (click)="verDocumento(cotizacion)"  >
                  <i class="bi bi-file-earmark-pdf"></i>
                </button>


              </div>
            </td>
            <!-- <td> <img src="{{ author.foto }}" alt="" width="50px" height="50px"> </td> -->
            <td> 
              <div class="btn-group"><!-- mb-3-->

                <div *ngIf="( cotizacion.estado=='ACTIVO')">                  
                  <button class="btn ver d-inline" href="#"  (click)="doPedido(cotizacion)"  >
                    <i class="bi bi-cart-check-fill" style="width: 150px;"></i>
                  </button>
                </div> 

                <div *ngIf="( cotizacion.estado=='Pedido')">                  
                  <button class="btn ver d-inline" href="#"    >
                    <i class="bi bi-cart-check-fill" style="width: 150px;color: rgb(142, 142, 146);" ></i>
                  </button>
                </div> 

                <div *ngIf="validarFecha(cotizacion)">                  
                  <button class="btn ver d-inline" href="#"    >
                    <i class="bi bi-cart-check-fill" style="width: 150px;color: rgb(142, 142, 146);" ></i>
                  </button>
                </div> 


              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
            
      
        </div>
      </div>
    </div>
  </div>
  
</div>



<div class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color: #ededed;">
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cotización:</h4>
  <button type="button" class="close"  aria-label="Close"  (click)="cerraModal()" >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

<pdf-viewer [src]="pdfSrc" [rotation]="0"
[fit-to-page]="true"
[original-size]="true"
[show-all]="true"
style="display: block;"></pdf-viewer>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="imprimirReporte()" >Imprimir</button>
  <button type="button" class="btn btn-outline-primary" (click)="guardarReporte()" >Guardar</button>
  <button type="button" class="btn btn-outline-dark" (click)="cerraModal()" >Cerrar</button>
</div>

</div>

  



    
    </section>
    
  

          
        

      </div>
  </div>
</div>




       


<!-- 
    <jw-pagination [products]="products" (changePage)="onChangePage($event)"></jw-pagination> -->


    






 
  
  
  
  
    