



<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a [routerLink]="['/customer/products']" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">!Cotizar y Comprar es facil!</span>
              </a>
              
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a   [routerLink]="['/customer/datos']" class="nav-link align-middle px-0">
                        <!-- <i class="fs-4 bi-house"></i>  -->
                        <i class="fs-4 bi-people"></i>  <span class="ms-1 d-none d-sm-inline">Mis Datos</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a    [routerLink]="['/customer/carrito']"   class="nav-link align-middle px-0">
                      <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Mis Cotizaciones</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a   [routerLink]="['/customer/historial']"  class="nav-link align-middle px-0">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Mis Pedidos</span>
                  </a>
              </li>
              
                
              </ul>
              <!-- <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">loser</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div> -->
          </div>
      </div>
      <div class="col py-3">

        
 <!-- <app-customer-header></app-customer-header>  -->

 <section class="container-fluid section-default">
  <nav class="navbar navbar-light navbar-top"  style="padding-right: 0">
    <div class="">

      <a  [routerLink]="['/customer/products']" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 50px;">
       
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16" style="color: black;">
          <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
      </a>

<!-- 
    
      <button  type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <i class="bi bi-filter-right"> </i></button> -->

     
    </div>
    <form >
      <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary sm" type="submit">Search</button> -->

      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping-span" (click)="clickBuscarProducto(nombrebuscar.value)" ><i class="bi bi-search"></i> </span>
        <input type="text" #nombrebuscar class="form-control input-search" placeholder="Buscar producto" aria-label="Username" aria-describedby="addon-wrapping">
      </div>

    </form>

    <div style="display: flex;">

      <p style="margin-top: 10px;margin-right: 10px;">Bienvenid@ {{usuarioSesion.name}} </p> 

<!-- 
      <div class="dropdown">

       
        <a  type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fs-4 bi-table"></i> 
      </a>
          
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#"><i class="fab fa-apple-pay"></i>&nbsp;&nbsp;Pay</a>
          <a class="dropdown-item" href="#"><i class="fas fa-bell-slash"></i>&nbsp;&nbsp;Disable alertss</a>
          <a class="dropdown-item" href="#"><i class="far fa-envelope"></i>&nbsp;&nbsp;Check mail</a>
        </div>
      </div> -->
      


      <div class="dropdown pb-4">
        
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 50px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" style="color: black;">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
          </svg>
        </a> 
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" [routerLink]="['/customer/datos']">Mis Datos</a></li>
            <li><a class="dropdown-item"  [routerLink]="['/customer/carrito']">Mis Cotizaciones</a></li>
            <li><a class="dropdown-item"  [routerLink]="['/customer/historial']">Mis Pedidos</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><button class="dropdown-item" (click)="cerrarSesion()" >Sign out</button></li>
        </ul>
    </div> 
          
        
        <a class="navbar-brand"  [routerLink]="['/customer/carrito']" style="margin-left: 30px;">
          <svg xmlns="http://www.w3.org/2000/svg"  width="36" height="36"  fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger" style="margin-left: -15px;" >
            {{conteo}}
            <span class="visually-hidden">unread messages</span>
          </span>
                
        </a>
    </div>
  </nav>

</section>


    <section class="container-fluid section-default">
        <nav class="navbar navbar-light navbar-top"  style="padding-right: 0">
          <div class="">
          
            <!-- <button  type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="bi bi-filter-right"> </i></button> -->

           
          </div>
          <div style="display: flex;">
            <select class="form-select" #ordenamiento aria-label="Default select example" style="margin-right: 10px;" (change)='onOptionsSelectedOrd(ordenamiento.value)'>
                <option selected>Ordenar</option>
                <option value="desc">Descendente</option>
                <option value="asc">Ascendente</option>
              </select>

            <select class="form-select" #paginacion aria-label="Default select example" style="margin-right: 10px;"  (change)='onOptionsSelectedPag(paginacion.value)' >
                <option selected>Mostrar</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
              
            <!-- <a class="navbar-brand" href="#">
              <i class="bi bi-grid-3x3-gap"> </i>
            </a> -->
            <a class="navbar-brand" >
              <i class="bi bi-list-ul"> </i>
            </a>
          </div>
        </nav>
    
    </section>
    
    <div class="table-grid-ecommerce">

        <div class="row">

            <div class="col-md-3"  *ngFor="let producto of products" >
                <div id="product-card">
                    <div id="product-front">
                        <div class="shadow"></div>
                        <img src="{{producto.imagen}}" alt="" width="100%" height="200px"/>
                        <!-- <div class="image_overlay"></div>
                        <div id="view_details" (click)="verDetalles(producto.id)">View details</div> -->
                        <div class="image_overlay"></div>
                        <div id="view_details" (click)="verDetalles(producto.id)">Ver Detalles</div>
                        <div class="stats">        	
                            <div class="stats-container">
                                <span class="product_price"> S/ {{formateaValor(producto.precio)}} 
                                </span>
                                <span class="product_name">{{producto.nombre}}</span>    
                                <!-- <p>{{producto.descripcion}}</p>                                             -->
                                

                              <div class="product-options">
                                <hr>
                                <button type="button" (click)="addCart(producto)" class="btn btn-outline-primary">Agregar</button> 
                                <button class="btn btn-primary" (click)="verDetalles(producto.id)" style="margin-left: 10px;">Ver</button>
                                <!-- <strong>SIZES</strong>
                                <span>XS, S, M, L, XL, XXL</span>
                                <strong>COLORS</strong>
                                <div class="colors">
                                    <div class="c-blue"><span></span></div>
                                    <div class="c-red"><span></span></div>
                                    <div class="c-white"><span></span></div>
                                    <div class="c-green"><span></span></div>
                                </div> -->
                              </div>                       
                            </div>  
                                                   
                        </div>

                    </div>
                </div>

            </div>


            <div class="col-md-12">

              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  
                  <li class="page-item"><button class="page-link" (click)="cambiarPagina(-1)">Previous</button></li>

                  <li class="page-item"  *ngFor="let in of paginationArray ;let i = index"><button class="page-link" (click)="cambiarPagina(i)" > {{i+1}} </button></li>
                  
                  <li class="page-item"><button class="page-link" (click)="cambiarPagina(-2)">Next</button></li>
                
                </ul>
              </nav>
      
            </div>


      
      
        </div>
        <br>
        <br>
        <br>
     <div>

     </div>
      <br>
    </div>

          
        

      </div>
  </div>
</div>




       


<!-- 
    <jw-pagination [products]="products" (changePage)="onChangePage($event)"></jw-pagination> -->


    

